.cards {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
  width: 100%;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 585px) and (max-width: 880px) {
  .cards__list {
    max-width: 600px;
    margin: auto;
    gap: 20px;
    justify-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .cards__list {
    max-width: 290px;
    margin: auto;
    gap: 20px;
    justify-items: center;
  }
}
